* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'overpass', 'ubuntu';
  font-style: normal;
}
.part_1{
  padding: 56px 24px 125px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part_1{
  background-image: url(Assets/background_mask.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width:1440px;
}


.nav_container{
  padding-top: 56px;
  padding-left: 24px;
  padding-bottom:110px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
}
.left_section{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.Menu_nav{
  width: 32px;
 height: 18px;
}

.logo{
  width: 81.659px;
height: 32px;
}



.nav_links{
  display: none;
}

.nav_bar{
  display: flex;
  flex-direction: column;
  gap:115px;
}



.header_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_text {
  justify-content: center;
  text-align: center;
 /* padding-top: 198px;
  padding-left: 24px;
  padding-right: 24px;*/
  gap: 24px;
  line-height: normal;
}

.header_text h6{
  color: #FFF;
  text-align: center;
  font-family: 'Overpass SemiBold';
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.08px;
}

.header_text p{
  color: #FFF;
  font-family: 'Overpass';
  font-size: 18px;
  font-weight: 300;

}

.button_section{
  display: flex;
    flex-direction: row;
    gap:16px;
    justify-content: center;
    padding-top: 64px;
    text-align: right;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.button_1{
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: #FFF;
  border: none;
  color: #FF505C;
  padding-right: 20px;
  cursor: pointer;
}


.button_2{
  width: 137px;
    height: 48px;
    border-radius: 28px;
    border: 1px;
    border-color: #FFF;
    color: white;

    padding-right: 20px;
    background: #FF505C;
    cursor: pointer;
}


.part_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dm h6 {
  padding-top: 100px;
  padding-left: 24px;
  padding-bottom: 92px;
  padding-right: 24px;
  color: #1F3E5A;
  text-align: center;
  font-family: 'Overpass SemiBold';
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.84px;
}

.content{
  display: flex;
    flex-direction: column;
    gap:101px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.sub_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px;
}

.first_subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-right: 24px;
  padding-left: 33px;
  font-family: 'Overpass';
  
}

.first_subtext h6 {
  color: #1F3E5A;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  gap: 16px;
}

.first_subtext p {
  color: #4C5862;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
  padding-top: 16px;
}

.part_3{
  padding: 50px 24px 220px 24px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 101px;
}

.grouped_phones img{
  max-height: 499px;
  height: 100%;
  max-width: 472px;
  width:100%;
}


.collection{
  display: flex;
  flex-direction: column;
  gap:48px;
  max-height: 600px;
  height: 100%;
}

.grouped_phones{
  display: flex;
  justify-content: center;
}

.phone_content{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: 'Overpass';
}
.phone_content h6{
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  width: 100%;
  height: 100%;
  
}
.phone_content p{
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
  max-width: 540px;
  width: 100%;
}
  


.backdrop img{
  position: absolute;
  top:110px;
  left:0px;
  z-index: -1;
  max-width: 1440px;
  width:100%;
  max-height: 725px;
  height: 100%;
   
}

.laptop_image img{
  max-width: 699px;
  width: 100%;
  max-height: 403px;
  height: 100%; 
  justify-content: center;
  align-items: center;
}


.part_4{ padding-top: 220px;
         padding-bottom: 350px;
         padding-left: 20px;
         padding: 20px;
        }
        
.main_text{
  display: flex;
  flex-direction: column;
  gap:40px;
  padding-bottom: 40pxs;
}

.main_text{
  max-width: 504px;
  width: 100%;
  max-height: 416px;
  height: 100%;
}
.Frame{
  display: flex;
  flex-direction: column;
  gap:115px;
  justify-content: center;
  align-items: center;
}

.inner_text{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.inner_text h5{
  color: #1F3E5A;
  text-align: center;
  font-family: 'Overpass';
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  max-width: 540px;
  width: 100%;
  max-height: 41px;
  height: 100%;
}
.inner_text p{
  color: #4C5862;
  text-align: center;
  font-family: 'Overpass';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
  max-width:540px ;
  width:100% ;
  height:100% ;
}



.inner_text.source{
  padding-bottom: 40px;
}

/*footer section*/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24242C;
  border-radius: 0px 100px 0px 0px;
  padding-bottom: 150px;
  padding-top: 150px;
  max-width: 1440px;

}
.image_logo{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  max-width: 101px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  color: #ffffff;

}

.image_logo img{
  padding-top: 65px;
}
.footer_nav{
  display: flex;
  flex-direction: column;
  gap:72px;
}
.foot_link{
  display: flex;
  flex-direction: column;
  gap:40px;
}
.sub_nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:21px;
}
 
.sub_nav h5{
  color: #FFF;
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 18px;
  font-weight: 500;
  line-height: 33px;
}

  
ul{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }
ul a{
  color: #FFF;
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  opacity: 0.75;
  text-decoration: none;
}

@media screen and (min-width: 935px) {

/*styling the contents in the first section(part_1)*/
.Menu_nav{ display: none;}
/*.part_1{
  background-image: url(Assets/background_mask.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/

.main_container{
  padding-top: 7px;
  padding-left: 167px;
  padding-bottom: 155px;
  padding-right: 167px;
  justify-content: center;
}
 /*.nav_links{
  display: block;
 } */
 .inner_nav{
  display: flex;
  flex-direction: row;   
  gap:64px;
 }

.nav_links{
  display: flex;
  flex-direction: row;
  gap:200px;
  justify-content: center;
  align-items: center;
}
 

.middle_section{
    display: flex;
    flex-direction: row;
     gap: 48px;
     align-items:center;
     margin: 0 auto;
     justify-content: space-between;
 }

  .right_section{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }



  a {
      text-decoration: none;
      color: #ffff;
      list-style: none;
      font-family: 'Ubuntu';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }


    .middle_section.ul li a{display: none;}
  .sign_in_button {
     display: flex;
     justify-content: center;
      align-items: center;
      border-radius: 28px;
      background-color: #FFF;
      color: #FF505C;
      text-align: right;
      cursor: pointer;
      font-family: 'Ubuntu';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 100px;
      height: 35px;
      border: none;
  }

  .sign_in_button:hover {
    background-color:transparent;
  }
  .right_section h5{
    color: #FFF;
    text-align: right;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    padding-top: 15px;
  }

/*new changes for the h6 and p tag in section 1*/
.header_text {
 /*padding-top: 198px;*/
  padding-left: 260px;
  padding-right: 260px;
  padding-top: 141px;}
  
  .header_text h6{
      font-size: 64px;
      max-width: 920px;
      letter-spacing: -1.92px;
  }

  .header_text p{
      font-size: 20px;
      display: flex;
  }

  .button_section{
    display: flex;
    justify-content: center;
}

   
.button_2:hover{
  background: #FFF;
  color: #FF505C;
  
}

.button_1:hover{
  background: #FF505C;
  color: #FFF;
}
.second_section{
  display: flex;
  flex-direction: column;
  gap:93px;
}
.second_section .Dm h6{
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;
}
.content{
  display: flex;
  flex-direction: row-reverse;
  
}
.first_subtext h6{
  color: #1F3E5A;
  font-family: 'Overpass';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.first_subtext p{
  color: #4C5862;
  font-family: 'Overpass';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
}

    
.part_3{
  padding:100px 0px 0px 165px;
}

.collection{
display: flex;
flex-direction: row;
}
.backdrop img{
max-width: 1440px;
width: 100%;
max-height: 400px;
height: 100%;
}

.phone_content{
  display: flex;
align-items: center;
padding: 111px 165px 111px 20px;
margin: 0 auto;

}

.phone_content{
  display: flex;
    align-items: center;
    margin: 0 auto;
  padding: 111px 165px 111px 20px;
    
}
.phone_content h6{
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  white-space: nowrap;
  }

.phone_content p{
font-size: 16px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-align: justify;
}


.part_4{
  padding: 301px 165px 308px 0px;
  }

.main_text{
    display: flex;
    flex-direction: column;
    gap:64px;
  }
.Frame{
display: flex;
flex-direction: row;
gap:207px;
}
.inner_text h5{
color: #1F3E5A;
font-family: 'Overpass';
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 28px;
display: flex;
align-items: center ;
}
.inner_text p{
color: #4C5862;
font-family: 'Overpass';
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-align: left; 
}

.source{
  padding-bottom: 40px;
}

.breeze{
color: #4C5862;
font-family: 'Overpass';
font-size: 16px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding-bottom: 40px;
}
.footer_nav{
  display: flex;
  flex-direction: row;
  gap:184px
}

footer{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  width:100%;
  height: 100%;
  padding:70px 165px;
  
}
.foot_link{
  display: flex;
  flex-direction: row;
  gap: 150px;px;
}

.sub_nav h5{
font-size: 15px;
font-weight: 500;
line-height: 33px;
}

.sub_nav ul{
  max-width: 255px;
  width: 100%;
  max-height: 165px;
  height: 100%;
}

ul a{
font-size: 15px;
font-weight: 400;
line-height: 33px;
opacity: 0.75;
}
.pricing:hover{
  text-decoration: underline;
  cursor: pointer;
}

    
}